header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.75rem;
}

.primary_heading {
  color: #28283d;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4rem; /* 100% */
}

.description {
  width: 33.75rem;
  color: #87879d;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 144.444% */
  margin-top: 2rem;
}

.button_group {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  border: none;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.625rem;
  border-radius: 1.8rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.btn_download {
  padding: 1rem 2.5rem;
  background-color: #4d96a9;
}

.btn_download:hover {
  background-color: #71c0d4;
}
.btn_download > span {
  color: #8fe3f9;
}

.btn_question {
  padding: 1rem 1.8rem;
  background-color: #855fb1;
}

.btn_question:hover {
  background-color: #b18bdd;
}

@media screen and (max-width: 48rem) {
  .header {
    margin-top: 28rem;
  }

  .primary_heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .description {
    font-size: 1rem;
    width: 27.5625rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 20.69rem;
  }

  .primary_heading {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  .description {
    font-size: 1rem;
    width: 20.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
  }

  .button_group {
    flex-direction: column;
    align-items: center;
  }
}
