.section_break {
  margin-top: 7.3rem;
}
.vertical-line {
  position: relative;
  width: 0.0625rem;
  height: 5.25rem;
  flex-shrink: 0;
  margin: 0 auto;
  background-color: #87879d;
  stroke-width: 1px;
  opacity: 0.25;
}

.circle {
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.5rem; /* Adjust the circle size as needed */
  height: 3.5rem; /* Adjust the circle size as needed */
  border: 1px solid;
  border-color: #87879d; /* Adjust the circle color as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  color: #87879d;
  font-family: Red Hat Display;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.625rem; /* 162.5% */
  opacity: 1;
}
