.container {
  max-width: 90rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.hero1 {
  position: absolute;
  top: 10.5rem;
  left: -2rem;
}

.hero2 {
  position: absolute;
  top: 10.5rem;
  right: -2rem;
}

@media screen and (max-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}
