.container {
  max-width: 90rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.hero1 {
  position: absolute;
  top: 10.5rem;
  left: -2rem;
}

.hero2 {
  position: absolute;
  top: 10.5rem;
  right: -2rem;
}

.hero3 {
  display: none;
}

@media screen and (max-width: 48rem) {
  .container {
    max-width: 48rem;
  }

  .hero1 {
    display: none;
  }

  .hero2 {
    display: none;
  }

  .hero3 {
    display: block;
    position: absolute;
    top: 8.75rem;
    left: -1.75rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 425px;
  }

  .hero1 {
    display: none;
  }

  .hero2 {
    display: none;
  }

  .hero3 {
    top: 8.1rem;
    left: -1.25rem;
    width: 28rem;
  }
}
